@media print {
  @page {
    margin: 0;
    margin-top: 1in;
    margin-bottom: 0.25in;
  }

  @page :first {
    margin-top: 0;
  }

  html {
    background: white !important;
    color: black !important;
  }

  body {
    background: white;
    color: black;
    margin: 0.25in;
    padding: 0.25in;
  }

  header, footer, .non-printable {
    display: none;
  }

  .print-only {
    display: block;
  }

  .print-hide {
    display: none;
  }

  .print-no-margin-or-padding {
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Reset ring styles */
  * {
    box-shadow: none !important;
    outline: none !important;
  }

  /* Add any additional styles to format the resume for printing */
  h1, h2, h3, h4, h5, h6 {
    margin-top: -0.125em;
    margin-bottom: -0.125em;
  }

  p, ul, ol, li, span {
    margin-top: -0.125em;
    margin-bottom: -0.125em;
  }
}
